$light-color: #FBFBFB;
$dark-color: #343434;
$dark-50: #1640678f;
$dark-100: #3674ad;
$accent-color: #E54444;

// Set the background to a gradient or if provided to and image
@mixin set-gradient-background($color1, $color2, $imageUrl) {
    background: linear-gradient($color1, $color2), url($imageUrl);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin set-up-grid($row-height){
    display: grid;
    grid-template-columns:  minmax(60px, 1fr) 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(auto, $row-height) 1fr 1fr;
}

@mixin marginAndPadding(){
    margin: 0 131px;
    padding: 0 20px;
    text-align: center;
}

@mixin set-up-flex(){
    display:flex;
    align-items: center;
    justify-content: center;
}


body{
    font-family: "Lato", sans-serif;
    background-color: $light-color;
    color: $dark-color;
}

.banner{
    @include set-gradient-background($dark-50, $dark-50, '../images/mainBackground.jpg');
    color: $light-color;
    padding: 0 12%;
    min-height: 100vh;
}

.logo{
    cursor: pointer;
    width: 227px;
}

nav.navbar{
    padding-top: 45px;

    .navbar-toggler{
        border: none;

        &:focus{
            outline: none;
        }
        .line{
            width: 25px;
            border-bottom: 2px solid $light-color;
            margin-top: 7px;
        }
    }
}

#links{

    a{
        font-size: 1.1rem;
        color: $light-color;
        font-weight: 300;
        margin-right: 70px;
        
        &:hover{
            border-bottom: 1px solid $light-color;
        }
    }
}

.content{
    height: 500px;
    h1{
        font-size: 4.375rem;
        font-weight: 400;
    }

    h3{
        margin-top: 50px;
        font-size: 2.3125rem;
        font-weight: 200;
        line-height: 1.2;
        width: 70%;
    }

    button{
        margin-top: 75px;
    }
}

.what-we-offer{
    @include marginAndPadding();
}

.feature{
    margin-top: 30px;
    
    .details{
        width: 45%;

        h5{
            margin-top: 20px;
            font-size: 2rem;
        }
    
        p{
            margin-top: 15px;
            font-size: 1rem;
            line-height: 2;
        }
    }

    &-img{
        width: 45%;
    }

    &:nth-child(even){
        flex-direction: row-reverse;
    }
}

.arrowArea{ 
    padding-bottom: 40px;
    
    #downArrow{
        cursor: pointer;
        fill: $light-color;
        width: 50px;
    }
}

.attorneys{
    @include marginAndPadding();

    .cards{
        margin-top: 40px;

        .card{
            width: 320px;
            margin: 20px 2%;
        }

        .card-title{
            padding-bottom: 2px;
            border-bottom: 1px solid $dark-color;
        }
    }
}
.why-us{
    text-align: center;
}
.awards{
    margin-top: 30px;
    img{
        width: 150px;
    }
}
.map-and-description{
    margin-top: 30px;

    .description{
        max-width: 40%;
    }
}


.get-in-touch{
    @include marginAndPadding();
}

.map{
    padding-right: 20px;
    // border-right: 2px solid $dark-color;
    margin-right: 60px;
}

footer{
    margin-top: 60px;
    background-color: $dark-100;
    color: $light-color;

    span{
        font-size: .9rem;
        font-weight: 100;
        a{
            color: $light-color;
            text-decoration: underline;
            &:hover{
                color: darken($light-color, 20);
            }
        }
    }
}