$light-color: #FBFBFB;
$dark-color: #343434;
$dark-50: #1640678f;
$dark-100: #3674ad;
$accent-color: #E54444;

// Set the background to a gradient or if provided to and image
@mixin set-gradient-background($color1, $color2, $imageUrl) {
    background: linear-gradient($color1, $color2), url($imageUrl);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin set-up-grid($row-height){
    display: grid;
    grid-template-columns:  minmax(60px, 1fr) 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(auto, $row-height) 1fr 1fr;
}



body{
    font-family: "Lato", sans-serif;
    background-color: $light-color;
    color: $dark-color;
}

.banner{
    @include set-gradient-background($dark-50, $dark-50, '../images/mainBackground.jpg');
    color: $light-color;
}

a, .logo, svg{
    cursor: pointer;
}

a{
    text-decoration: none;
}

.logo{
    width: 227px;
}

#links{

    a{
        font-size: 1.1rem;
        color: $light-color;
        font-weight: 300;
        margin-right: 70px;
        
        &:hover{
            border-bottom: 1px solid $light-color;
        }
    }
}

.content{

    h1{
        font-size: 4.375rem;
        font-weight: 400;
    }

    h3{
        margin-top: 50px;
        font-size: 2.3125rem;
        font-weight: 200;
        line-height: 1.2;
        width: 70%;
    }
}

.what-we-offer{
    margin: 0 131px;
    padding: 0 20px;
    text-align: center;
}

.feature{
    margin-top: 30px;
    
    .details{
        width: 45%;

        h5{
            margin-top: 20px;
            font-size: 2rem;
        }
    
        p{
            margin-top: 15px;
            font-size: 1rem;
            line-height: 2;
        }
    }

    &-img{
        width: 45%;
    }

    &:nth-child(even){
        flex-direction: row-reverse;
    }
}

.arrowArea{
    padding-bottom: 40px;
    
    #downArrow{
        fill: $light-color;
        width: 50px;
    }
}

.attorneys{
    color: $dark-color;
    text-align: center;

    h3{
        margin-top: 0;
        font-family: 'Times New Roman', Times, serif;
        font-size: 3rem;
    }

    .cards{
        margin-top: 30px;
    }
}

.card{
    p{
        margin: 0 7.5%;
        line-height: 1.5;
        visibility: hidden;
    }

    img{
        width: 55%;
    }
}