* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    overflow: auto;
}

.banner{
    height: 100%;
    @include set-up-grid(120px);

    nav{
        grid-column: 2 / span 6;
        display:flex;
        align-items: center;
        height: 120px;
        
        .links{
            margin-left: auto;
        }
    }
    
    .content{
        grid-column: 2 / span 4;
        margin-top: 80px;

        button{
            margin-top: 75px;
        }
    }
}

.what-we-offer{
    padding: 0 151px;
    text-align: center;
}