* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    // This line breaks the window.scroll method for some reason
    // overflow: hidden;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.arrowArea{
    display: flex;
    justify-content: center;
}

.feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.attorneys{
    .cards{
        display:flex;
        justify-content: space-around;
        
        .card{ 
            p{
                position: relative;
                top: -50%;
            }
        }
    }
}