* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    // This line breaks the window.scroll method for some reason
    // overflow: hidden;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.arrowArea{
    display: flex;
    justify-content: center;
}

.feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.attorneys{
    .cards{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.map-and-description{
    display:flex;
    justify-content: center;

    .description{
        text-align: start;
    }
}

footer{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}