@media screen and (max-width: 960px){
    hr{
        margin: 40px auto;
    }
    .banner{
        background-position: 65% 0%;
    }

    .content{
        h1{
            font-size: 3rem;
        }
        h3{
            font-size: 1.8rem;
        }
        .button-large{
            font-size: 1.5rem;
        }
    }

    .feature{
        flex-direction: column;
        img{
            width: 90%;
        }
        .details{
            width: 100%;
        }
    }

    .feature:not(:nth-child(1)){
        margin-top: 40px;
    }

    .feature:nth-child(even){
        flex-direction: column;
    }

    .map-and-description{
        flex-direction: column-reverse;

        .map{
            margin: 40px 0 0 0;
        }
    }
}