.banner{
    height: 100%;
    @include set-up-grid(120px);

    nav{
        grid-column: 2 / span 6;
        display:flex;
        align-items: center;
        height: 120px;
        
        .links{
            margin-left: auto;
        }
    }
    
    .content{
        grid-column: 2 / span 4;
        margin-top: 80px;

        button{
            margin-top: 75px;
        }
    }
}
